{% extends 'accounts/base.html' %}


{% block subject %} Change password {% endblock %}
{% block body %}
<body>
    <section class="container forms">
        <div class="form login">
            <div class="form-content">
                <header>Change password</header>
                {% if error %}
                <div class="alert alert-danger">
                    <strong>Error:</strong> {{ error }}
                </div>
                {% else %}

                <form method="post" action="#">
                    {% csrf_token %}
                    <div class="field input-field">
                        <input name="password" type="password" placeholder="Password" class="password">
                        <i class='bx bx-hide eye-icon'></i>
                    </div>

                    <div class="field input-field">
                        <input name="confirm_password" type="password" placeholder="Confirm password" class="password">
                    </div><br>

                    <div class="field button-field">
                        <button type="submit"> Change password </button>
                    </div>
                </form>
                {% if messages %}
                <script>
                    {% for message in messages %}
                    alert("{{ message|escapejs }}");
                    {% endfor %}
                </script>
                {% endif %}
            </div>
        </div>


    </section>
                {% endif %}
                
{% endblock %}