{% extends "base.html" %}

{% block title %} بازیابی رمز عبور {% endblock title %}

{% block content %} 

<div class="container content-space-3 content-space-t-lg-4 content-space-b-lg-3">
    <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">
      <!-- Heading -->
      <div class="text-center mb-5 mb-md-7">
        <h1 class="h2">فرم بازیابی رمز عبور</h1>
      </div>
      <!-- End Heading -->

      <!-- Form -->
      <form method="post">
        {% csrf_token %}
        <!-- Form -->
        <div class="mb-4">
          <label class="form-label" for="signupSimpleLoginEmail">ایمیل شما</label>
          <input type="email" class="form-control form-control-lg text-center" name="email"
            placeholder="email@site.com" aria-label="email@site.com">
        </div>
        <!-- End Form -->

        <div class="d-grid mb-3">
          <button type="submit" class="btn btn-primary btn-lg">بازیابی رمز عبور</button>
        </div>

        <div class="text-center">
          <p>حساب کاربری ندارید؟ <a class="link" href="./page-signup-simple.html">اینجا ثبت نام کنید</a></p>
        </div>
      </form>
      <!-- End Form -->
    </div>
  </div>
  <!-- End Form -->
</main>


</section>

{% endblock content %}